<div class="container-fluid bg-3 text-center">
   <div class="row">
      {{#each data}}
      <div class="col-sm-3">
         <h3>{{this.title}}</h3>
         <img src="{{this.url}}" class="img-responsive" style="width:100%" alt="Image">
      </div>
      {{/each}}
   </div>
</div>
<br><br>
